In [3]:
import pandas as pd
import random

In [15]:
df = pd.read_csv("./15-Points.csv")
df

               x             y  City
0   5.500000e-08  9.860000e-09     1
1  -2.887330e+01 -7.980000e-08     2
2  -7.929160e+01 -2.140330e+01     3
3  -1.465770e+01 -4.338960e+01     4
4  -6.474730e+01  2.189820e+01     5
5  -2.905850e+01 -4.321670e+01     6
6  -7.207850e+01  1.815810e-01     7
7  -3.603660e+01 -2.161350e+01     8
8  -5.048080e+01  7.374470e+00     9
9  -5.058590e+01 -2.158820e+01    10
10 -1.358190e-01 -2.872930e+01    11
11 -6.508660e+01 -3.606250e+01    12
12 -2.149830e+01  7.319420e+00    13
13 -5.756870e+01 -4.325060e+01    14
14 -4.307000e+01  1.455480e+01    15

In [24]:
class City:
    def __init__(self , _id , x , y, visited = False):
        self._id = _id
        self.x = x
        self.y = y
        self.visited = visited
        
    
    def __repr__(self) -> str:
        return (f"_id : {self._id} , x , y : {[self.x , self.y]} ,visited : {self.visited} ")

In [25]:
cairo = City("cairo" , 5 , 2 )

In [26]:
cities = []

for i in range(len(df)):
    cities.append(City(df.iloc[i]["City"]  , df.iloc[i]["x"] ,df.iloc[i]["y"]   ))

In [27]:
cities[0]

_id : 1.0 , x , y : [5.5e-08, 9.86e-09] ,visited : False

In [28]:
class TSP:
    def __init__(self, cities, start_city=None):
        self.cities = cities.copy()
        self.depot = cities[start_city] if start_city is not None else self.get_depot()
        self.cost = 0
        self.tour = []

    def get_depot(self):
        return random.choice(self.cities)

    def find_nearest_city(self, current_city):
        nearest_city = None
        nearest_distance = float('inf')
        for city in self.cities:
            if city.visited:
                continue
            distance = self.calculate_distance(current_city, city)
            if distance < nearest_distance:
                nearest_city = city
                nearest_distance = distance
        return nearest_city

    def calculate_distance(self, city1, city2):
        x1, y1 = city1.x, city1.y
        x2, y2 = city2.x, city2.y
        return ((x1 - x2) ** 2 + (y1 - y2) ** 2) ** 0.5

    def solve(self):
        current_city = self.depot
        current_city.visited = True
        self.tour.append(current_city._id)
        for i in range(len(self.cities) - 1):
            next_city = self.find_nearest_city(current_city)
            next_city.visited = True
            self.cost += self.calculate_distance(current_city, next_city)
            current_city = next_city
            self.tour.append(current_city._id)
        self.cost += self.calculate_distance(current_city, self.depot)
        self.tour.append(self.depot._id)
        return self.tour, self.cost

In [29]:
cities = []

for i in range(len(df)):
    cities.append(City(df.iloc[i]["City"]  , df.iloc[i]["x"] ,df.iloc[i]["y"]   ))

In [30]:
tsp = TSP(cities, 0)

In [31]:
tsp.solve()

([1.0,
  13.0,
  2.0,
  15.0,
  9.0,
  5.0,
  7.0,
  3.0,
  12.0,
  14.0,
  10.0,
  8.0,
  6.0,
  4.0,
  11.0,
  1.0],
 284.3810904080332)

In [147]:
cities

[_id : 1.0 , x , y : [5.5e-08, 9.86e-09] ,visited : True ,
 _id : 2.0 , x , y : [-28.8733, -7.98e-08] ,visited : True ,
 _id : 3.0 , x , y : [-79.2916, -21.4033] ,visited : True ,
 _id : 4.0 , x , y : [-14.6577, -43.3896] ,visited : True ,
 _id : 5.0 , x , y : [-64.7473, 21.8982] ,visited : True ,
 _id : 6.0 , x , y : [-29.0585, -43.2167] ,visited : True ,
 _id : 7.0 , x , y : [-72.0785, 0.181581] ,visited : True ,
 _id : 8.0 , x , y : [-36.0366, -21.6135] ,visited : True ,
 _id : 9.0 , x , y : [-50.4808, 7.37447] ,visited : True ,
 _id : 10.0 , x , y : [-50.5859, -21.5882] ,visited : True ,
 _id : 11.0 , x , y : [-0.135819, -28.7293] ,visited : True ,
 _id : 12.0 , x , y : [-65.0866, -36.0625] ,visited : True ,
 _id : 13.0 , x , y : [-21.4983, 7.31942] ,visited : True ,
 _id : 14.0 , x , y : [-57.5687, -43.2506] ,visited : True ,
 _id : 15.0 , x , y : [-43.07, 14.5548] ,visited : True ]